<!-- app/views/Artists/index.html.erb -->

<% @artists.each do |artist| %>
<div class="container">
  <%= image_tag artist.image, class:"image"%>
  <div class="overlay">
    <div class="text"><button><%=link_to artist.fullname, artist_path(artist.id)%></button></div>
  </div>
</div>
<%end%>





<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "!WELCOME!" %></button>
