

<div class="container">
  <img src="https://i.pinimg.com/736x/ab/a3/6f/aba36fd3ed1839e391031c2c88e8dc14--funny-happy-birthday-meme-birthday-memes.jpgg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div>
<%= link_to "[Artists]", artists_path %>
